{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "off",
    "no-use-before-define": "off",
    "no-restricted-globals": "off",
    "no-console": "off",
    "consistent-return": "off"
  }
}