<!DOCTYPE html>
<html lang="en">
<head>
    <title>Narudzbe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/narudzbe.css">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo-navbar" src="../images/hotel-logo.png">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" id="navigacija-lijevo">
            </ul>
            <ul class="nav navbar-nav navbar-right" id="navigacija-desno">
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" id="slajder">
</div>
<div class="container-fluid" id="sadrzaj">
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

<div id="naruzbaModal" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content text-center" id="tekst-modala">
                <h2 id="narudzba-text">Vaša narudzba:</h2>
            </div>
            <div class="modal-content text-center">
                <button class="slajder-button " type="submit" onclick="posaljiNarudzbu()">OK</button>
                <button class="slajder-button " type="submit" onclick="obrisiNarudzbu()">Otkazi</button>
            </div>
        </div>
    </div>
</div>


<script src="../javascripts/narudzbe.js"></script>
</body>
</html>
