<!DOCTYPE html>
<html>
<head>
    <title>Database manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center naslov-admin">Administrator settings</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="/adminpanel/player" class="btn-link">Player</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/adminpanel/pokemontype" class="btn-link">Pokemon types</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="/adminpanel/playerpokemon" class="btn-link">Player pokemons</a>
        </div>
    </div>
</div>
</body>
</html>
